{% extends 'user-base-main.html' %}
{% block title %}
我的文章
{% endblock %}

{% block content %}
  <main class="r_box">
    {% if arts %}
      {% for art in arts %}
      <li><i><a href="{% url 'user:info' art.id %}"><img src="/media/{{ art.image }}"></a></i>
        <h3><a href="{% url 'user:info' art.id %}">{{ art.title }}</a></h3>
        <p>创作时间：{{ art.create_time | date:"Y-m-d H:i:s" }}</p>
        <p>标签：{{ art.tags }}</p>
        <p>关键字：{{ art.keywords }}</p>
      </li>
      {% endfor %}
    {% else %}
      <p>别急！博主正在努力创作中......</p>
    {% endif %}
    <div class="pagelist">
      {% if arts.has_previous %}
      <a href="{% url 'user:article_list' %}?page={{ arts.previous_page_number }}{% if cgy %}&&cid={{ cgy.id }}{% endif %}">上一页</a>
      {% endif %}
      {% for i in arts.paginator.page_range %}
      <a href="{% url 'user:article_list' %}?page={{ i }}{% if cgy %}&&cid={{ cgy.id }}{% endif %}">{{ i }}</a>
      {% endfor %}
      {% if arts.has_next %}
      <a href="{% url 'user:article_list' %}?page={{ arts.next_page_number }}{% if cgy %}&&cid={{ cgy.id }}{% endif %}">下一页></a>
      {% endif %}
    </div>
  </main>
{% endblock %}
